footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div


        div



        div

            table(class="vcard")

                thead

                    tr


                tbody


        div

            ul
