footer(
    class="footer-1"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div


        div

        div(itemscope itemtype="http://schema.org/LocalBusiness")

            table

                thead

                tbody(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")

