section(class="canvas front" id="front")

    div(class="content")

        h3(class="title") Make cycling safer

        div(class="separator")

        div

            p Let drivers know you are on the road as they approach

            div

                a(href="#section-3") Sign me up!

    +nav-1("section-1")
