section(class="canvas front" id="front")

    div(class="content")

        h3(class="title") Make cycling better

        div(class="separator")

        div

            p Let drivers know you're on the road when you're on a bike

            div

                a(href="#section-3") Sign me up!

    +nav-1("section-1")
