section(class="canvas front" id="front")

    div(class="content")

        h2 Bike Alert

        div

            p Let drivers know you are on the road as they approach

            div

                a(href="#section-1") Problem
                a(href="#section-2") Solution

    +nav-1("section-1")
