section(class="canvas section-1" id="section-3")

    h2 Sign up

    div(class="content waitlist-container")

        div

            article

                p Bike Alert is under development. Sign up to get notified when the app is ready


                div
                    input(
                        type="text"
                        'placeholder'="Enter email address"
                        readonly=false
                        class='waitlist-input'
                        required
                    )
                    button(type='button' class='button') Sign Up


    +nav-1("section-3")
