section(class="canvas section-1" id="section-2")

    h2 Solution

    div(class="content")

        div

            img(src="images/home/app.svg" inline)

            article

                h2 The App

                p.
                    If cyclists broadcast their location, drivers can listen and get notified when a cyclist is approaching

    +nav-1("section-3")
