section(class="canvas section-1" id="section-1")

    h2 Problem

    div(class="content")

        div

            img(src="images/home/crash.svg" inline)

            article

                h2 Collisions

                p.
                    Since we share the same roads, each year thousands of cyclists are struck by cars leading to injury and death 😢

    +nav-1("section-2")
